[submodule "Atlantis.Windows"]
	path = Atlantis.Windows
	url = git@github.com:zloveless/Atlantis.Windows.git
[submodule "Atlantis.Unity"]
	path = Atlantis.Unity
	url = git@github.com:zloveless/Atlantis.Unity.git
[submodule "Atlantis.Net.Irc"]
	path = Atlantis.Net.Irc
	url = git@github.com:zloveless/Atlantis.Net.Irc.git
    branch = 4.3
